body§ {
  background:none transparent;
}

.App {
  width:300px;
  float:right;
  text-align: left;
  direction: rtl;
  background-color: rgba(0, 0, 0, 0);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.dropdown {
  margin-bottom: 16px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
